<div class="min-w-[48%] mt-12 bg-neutral-800 p-5 rounded-md">
    <form action="">
        <div class="details-form-field relative top-0 left-0">
            <label for="" class="block my-2 italic">Name:</label>
            <input class="bg-neutral-900 p-2 w-[100%] rounded-md" type="text">
            <div class="details-output">
                
            </div>
        </div>
        <div class="details-form-field">
            <label for="" class="block my-2 italic"></a>Description:</label>
            <textarea class="bg-neutral-900 p-2 rounded-md w-[100%] min-h-[230px]" name="" id=""></textarea>
        </div>
        <button class="w-[100%] py-2 mt-2 bg-green-300 hover:bg-green-400 rounded-md font-bold text-black">Save</button>
    </form>
</div>