<div id="task-<%- t.id %>" class="tasks-item flex justify-between items-center bg-neutral-700 my-2 rounded-md p-2 w-[100%]">
    <%= t.name %>
    <div class="flex">
        <% if(t.completed){ %>
            <div class="bg-green-300 py-1 px-2 rounded-md italic text-black">Completed</div>
        <% } else { %>
            <div class="bg-orange-300 py-1 px-2 rounded-md italic text-black">Pending</div>
        <% } %>
        
        <a href="/tasks/completed/<%= t.id %>"class="bg-neutral-900 ml-2 hover:bg-neutral-300 px-2 pt-[2px] font-bold rounded-md italic text-red-600">Status</a>
        <a href='/tasks/remove/<%= t.id %>'class="py-1 px-2 mx-2 hover:text-red-900 hover:bg-neutral-300 bg-neutral-900 rounded-md italic text-red-600">
            <i class="fa fa-trash fa-1x"></i>
        </a>
    </div>
</div>