<div class="sidebar pt-12 fixed top-0 left-0 h-[100vh] transition-all w-[55px] overflow-x-clip max-w-1/5 min-h-[100vh] bg-neutral-800">
    <a class="sidebar-item sidebar-btn p-2 my-2 cursor-pointer hover:bg-neutral-500 flex justify-start items-center">
        <i class="pointer-events-none fa-solid fa-arrows-left-right-to-line fa-2x"></i>
    </a>
    <a href="/analytics" class="sidebar-item p-2 my-2 cursor-pointer hover:bg-neutral-500 flex justify-start items-center">
        <i class="mr-4 fa-solid fa-chart-area fa-2x"></i>
        <div >Analytics</div>
    </a>
    <a  href="/tasks" class="sidebar-item p-2 my-2 cursor-pointer hover:bg-neutral-500 flex justify-start items-center">
        <i class="mr-4 fa-solid fa-list-check fa-2x"></i>
        <div>Tasks</div>
    </a>
    <a  href="/smtps" class="sidebar-item p-2 my-2 cursor-pointer hover:bg-neutral-500 flex justify-start items-center">
        <i class="fa-solid fa-toolbox mr-4 fa-2x"></i>
        <div>SMTP Settings</div>
    </a>
    <a  href="/emails" class="sidebar-item p-2 my-2 cursor-pointer hover:bg-neutral-500 flex justify-start items-center">
        <i class="mr-4 fa-solid fa-envelope-open-text fa-2x"></i>
        <div>Emails</div>
    </a>
    <a href="/chat" class="sidebar-item p-2 my-2 cursor-pointer hover:bg-neutral-500 flex justify-start items-center">
        <i class="mr-4 fa-solid fa-headset fa-2x"></i>
        <div >Chat</div>
    </a>
</div>