<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/styles.css" rel="stylesheet" onload="this.rel = 'stylesheet'" as="stylesheet">
        <link onload="this.rel='stylesheet'" as="stylesheet" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="container bg-neutral-900">
            <div class="analytics h-[100vh] flex justify-between items-start">
                <%- include('partials/global/sidebar') %>
                <div class="main-wrapper min-w-[97%] transition-all">
                    <%- include('partials/global/nav/nav-main') %>
                    <div class="analytics-main h-[95vh] flex justify-between items-start">
                        analytics
                    </div>
                    <%- include('partials/global/footer') %>
                </div>
            </div>
        </div>
        <script src="/js/app.js"></script>
    </body>
</html>