<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/styles.css" rel="stylesheet" onload="this.rel = 'stylesheet'" as="stylesheet">
        <link onload="this.rel='stylesheet'" as="stylesheet" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
    
        <form method="post" action="/auth/login" enctype="application/x-www-form-urlencoded">
            <label for="">Email</label>
            <input type="text" name="email">
            <label for="">Password</label>
            <input type="text" name="password">
            <a href="/auth/google">Google</a>
            <button>Submit</button>
        </form>
    </body>
</html>