<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    
        <form method="post" action="/auth/login" enctype="application/x-www-form-urlencoded">
            <label for="">Email</label>
            <input type="text" name="email">
            <label for="">Password</label>
            <input type="text" name="password">
            <a href="/auth/google">Google</a>
            <button>Submit</button>
        </form>
    </body>
</html>