<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/styles.css" rel="stylesheet" onload="this.rel = 'stylesheet'" as="stylesheet">
        <link onload="this.rel='stylesheet'" as="stylesheet" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <form method="post" action="/auth/register" enctype="application/x-www-form-urlencoded">
            <label for="name">Nickname:</label>
            <input type="text" id="name" name="nickname" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" required>

            <label >First Name:</label>
            <input type="text"  name="first_name" required>

            <label >Last Name:</label>
            <input type="text"  name="last_name" required>

            <label >Password 1:</label>
            <input type="text"  name="password_1" required>

            <label >Password 2:</label>
            <input type="text"  name="password_2" required>


            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </form>
    </body>
</html>