<form action="" class="mx-1 relative top-0 left-0">
    <div class="smtp-search-field bg-neutral-800 rounded-md px-6">
        <input type="text" placeholder="SMTP Email" class="smtp-search-input bg-transparent p-2  italic outline-none">
        <i class="fa fa-search"></i>
    </div>
    <div class="smtp-search-matches z-40 w-[100%] bg-neutral-800 rounded-md absolute top-[75px] left-0 opacity-0 hidden">
        <a href="#" class="smtp-search-menu-item hover:text-black block hover:bg-green-300 p-2 rounded-md font-bold">Tasks</a>
        
    </div>  
</form>