<div class="analytics-widget my-2 p-6 bg-neutral-800 rounded-md">
    <h3 class="font-bold text-md">Dominik Stepien</h3>
    <div class="my-2 flex justify-between items-center">
        <div>Email:</div>
        <div>s.dominik1321@gmail.com</div>
    </div>
    <div class="my-2 flex justify-between items-center">
        <div>Phone:</div>
        <div>663-411-333</div>
    </div>
</div>