<div class="nav-chat mx-6 relative top-0 left-0">
    <div class="nav-chat-icon-wrapper">
        <i class="fa-solid fa-comments cursor-pointer hover:text-neutral-500"></i>
    </div>
    <div class="nav-chat-menu z-50 w-max hidden opacity-0 transition-all absolute translate-y-6 top-10 left-1/2 -translate-x-1/2 bg-neutral-800 rounded-md">
        <a href="#" class="nav-search-menu-item hover:text-black block hover:bg-green-300 p-2 rounded-md font-bold">Tasks</a>
    </div>  
</div>