<form action="" class="nav-search relative top-0 left-0">
    <div class="nav-search-form-field bg-neutral-600 rounded-md flex justify-between items-center">
        <input type="text" class="w-90% outline-none bg-transparent p-2">
        <i class="fa fa-search mx-4"></i>
    </div>
    <div class="nav-search-matches z-50 w-[100%] hidden opacity-0 transition-opacity transition-transform absolute translate-y-6 top-14 left-1/2 -translate-x-1/2 bg-neutral-800 rounded-md">
        <a href="#" class="nav-search-menu-item hover:text-black block hover:bg-green-300 p-2 rounded-md font-bold">Tasks</a>
    </div>  
</form>