<div class="nav-type ml-12 w-max relative top-0 left-0 p-2">
    <div class="nav-type-current bg-neutral-600 max-w-max p-2 rounded-md cursor-pointer font-bold hover:bg-green-300">Tasks</div>
    <div class="nav-type-menu z-50 opacity-0 hidden transition-all absolute w-max top-14 translate-y-6 px-2 py-3 left-1/2 -translate-x-1/2 bg-neutral-800 rounded-md">
        <a href="#" class="nav-search-menu-item hover:text-black block hover:bg-green-300 p-2 rounded-md font-bold">Tasks</a>
        <a href="#" class="nav-search-menu-item hover:text-black block hover:bg-green-300 p-2 rounded-md font-bold">Emails </a>
        <a href="#" class="nav-search-menu-item hover:text-black block hover:bg-green-300 p-2 rounded-md font-bold">Chat</a>
    </div>
</div>