<div class="nav-profile mx-6 relative top-0 left-0">
    <div class="nav-profile-icon-wrapper">
        <i class="fa-solid fa-user cursor-pointer hover:text-neutral-500"></i>
    </div>
    <div class="nav-profile-menu w-max hidden opacity-0 transition-all absolute translate-y-6 top-10 left-1/2 -translate-x-1/2 bg-neutral-800 rounded-md">
        <a href="#" class="nav-search-menu-item hover:text-black block hover:bg-green-300 p-2 rounded-md font-bold">Tasks</a>
    </div>  
</div>