<% if(m.sender_id === user.id) { %>
    <div class="chat-window-message my-2 w-[200px] ml-auto bg-blue-300 rounded-md p-2"><%= message %></div>
<% } else { %>
    <div class="chat-window-message my-2 w-[200px] mr-auto bg-orange-300 rounded-md p-2"><%= message %></div>
<% } %>