<div class="chat-window mt-6 w-[50%] px-4 py-2 bg-neutral-800 rounded-md">
    <h3 class="font-bold italic text-2xl my-4 text-center p-2 rounded-md bg-green-600">Messages</h3>
    <div class="chat-window-messages overflow-y-scroll min-h-[180px] bg-white rounded-md p-2 w-[100%] ">
       <% messages.forEach(m =>{ %>
           <%- include('message',{m:m,user:user}) %>
       <% }) %>
    </div>
    <form action="">
        <input type="text" class="bg-neutral-600 my-2 p-2 rounded-md w-[100%]" placeholder="Message">
        <button class="py-2 rounded-md bg-green-300 font-bold hover:bg-green-600 w-[100%]">Send</button>
    </form>
</div>