<div class="chat-window mt-12 w-[50%] px-4 py-2 bg-neutral-800 rounded-md">
    <h3 class="font-bold italic text-2xl my-4 text-center p-2 rounded-md bg-green-600">Messages</h3>
    <div class="chat-window-messages overflow-y-scroll min-h-[230px] max-h-[230px] bg-white rounded-md p-2 w-[100%] ">
       <% messages.forEach(m =>{ %>
           <%- include('message',{m:m,message:m.message,user:user}) %>
       <% }) %>
    </div>
    <form method="POST" enctype="application/x-www-form-urlencoded" class="chat-message-form">
        <input type="text" class="chat-sender-input hidden" name="sender" value="<%- user.id %>">
        <input name="message" type="text" class="chat-message-input bg-neutral-600 my-2 p-2 rounded-md w-[100%]" placeholder="Message">
        <button class="py-2 rounded-md bg-green-300 font-bold hover:bg-green-600 w-[100%]">Send</button>
    </form>
</div>